{% extends 'base.html' %}

{% block content %}
  <h2>Order List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Order Date</th>
        <th>Total Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.user }}</td>
          <td>{{ order.order_date }}</td>
          <td>{{ order.total_amount }}</td>
          <td><a href="{% url 'admin_order_detail' order.id %}">Detail</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}